<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Tru Common <span class="badge">15</span></h3>
        </div>
        <div class="panel-body">
            <ul class="row builds">
                <li class="col-xs-8 col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-success small">
                        <p class="text-center header">Tru.Common.Messaging</p>
                        <p class="details">Build:&nbsp;<span>1.24.0.345</span></p>
                        <p class="pull-right build-link">
                            <a class="btn btn-link btn-xs" title="Open">
                                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                            </a>
                        </p>
                        <p class="details">Passed:&nbsp;<span>1145</span>&nbsp;&nbsp;Failed:&nbsp;<span>1345</span></p>
                    </div>
                </li>
                <li class="col-xs-8 col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-primary small">
                        <p class="text-center header">Tru.Common.System</p>
                        <p class="details">Build:&nbsp;<span></span></p>
                        <p class="pull-right build-link">
                            <a class="btn btn-link btn-xs" title="Open">
                                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                            </a>
                        </p>
                        <p class="details">Passed:&nbsp;<span></span>&nbsp;&nbsp;Failed:&nbsp;<span></span></p>
                    </div>                    
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">MNP Framework <span class="badge">42</span></h3>
        </div>
        <div class="panel-body ">
            <ul class="row builds">
                <li class="col-xs-8 col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-danger small">
                        <p class="text-center header">MNP Web</p>
                        <p class="details">Build:&nbsp;<span>1.24.0.345</span></p>
                        <p class="pull-right build-link">
                            <a class="btn btn-link btn-xs" title="Open">
                                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                            </a>
                        </p>
                        <p class="details">Passed:&nbsp;<span>1445</span>&nbsp;&nbsp;Failed:&nbsp;<span>15</span></p>
                    </div>
                </li>
                <li class="col-xs-8 col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-danger small">
                        <p class="building">
                            <span class="glyphicon glyphicon-play btn btn-lg" aria-hidden="true"></span>
                        </p>
                        <p class="text-center header">MNP Services</p>
                        <p class="details">Build:&nbsp;<span>1.24.1.35</span></p>
                        <p class="pull-right build-link">
                            <a class="btn btn-link btn-xs" title="Open">
                                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                            </a>
                        </p>
                        <p class="details">Passed:&nbsp;<span>145</span>&nbsp;&nbsp;Failed:&nbsp;<span>2</span></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
