<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Tru Common <span class="badge">15</span></h3>
    </div>
    <div class="panel-body">
        <ul class="row builds">
            <li class="col-md-3 col-xs-3 col-sm-3">
                <div class="panel panel-success ">
                    <div class="row">
                        <div class="col-md-2 col-xs-2 col-sm-2"></div>
                        <div class="col-md-8 col-xs-8 col-sm-8 text-center">Tru.Common.Messaging</div>
                        <div class="col-md-2 col-xs-2 col-sm-2 building"></div>
                    </div>
                    <div class="row details">ddd
                        <div class="col-md-3 col-xs-3 col-sm-3 small">Build:</div>
                        <div class="col-md-6 col-xs-6 col-sm-6 small">v 1.24.0.345</div>
                    </div>
                    <div class="row details">
                        <div class="col-md-3 col-xs-3 col-sm-3 small">Passed:</div>
                        <div class="col-md-2 col-xs-2 col-sm-2 small">1521</div>
                        <div class="col-md-3 col-xs-3 col-sm-3 small">Failed:</div>
                        <div class="col-md-2 col-xs-2 col-sm-2 small">0</div>
                        <div class="col-md-2 col-xs-2 col-sm-2 build-link">
                            <a class="btn btn-link btn-xs" title="Open">
                                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-3 col-xs-3 col-sm-3">
                <div class="panel panel-primary ">
                    <div class="row">
                        <div class="col-md-2 col-xs-2 col-sm-2"></div>
                        <div class="col-md-8 col-xs-8 col-sm-8 text-center">Tru.Common.System</div>
                        <div class="col-md-2 col-xs-2 col-sm-2 building"></div>

                    </div>
                    <div class="row details">
                        <div class="col-md-3 col-xs-3 col-sm-3 small">Build:</div>
                        <div class="col-md-6 col-xs-6 col-sm-6 small"></div>
                    </div>
                    <div class="row details">
                        <div class="col-md-3 col-xs-3 col-sm-3 small">Passed:</div>
                        <div class="col-md-2 col-xs-2 col-sm-2 small"></div>
                        <div class="col-md-3 col-xs-3 col-sm-3 small">Failed:</div>
                        <div class="col-md-2 col-xs-2 col-sm-2 small"></div>
                        <div class="col-md-2 col-xs-2 col-sm-2 build-link">
                            <a class="btn btn-link btn-xs" title="Open">
                                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">MNP Framework <span class="badge">42</span></h3>
    </div>
    <div class="panel-body ">
        <ul class="row builds">
            <li class="col-md-3 col-xs-3 col-sm-3">
                <div class="panel panel-danger ">
                    <div class="row">
                        <div class="col-md-2 col-xs-2 col-sm-2"></div>
                        <div class="col-md-8 col-xs-8 col-sm-8 text-center">MNP Web</div>
                        <div class="col-md-2 col-xs-2 col-sm-2 building"></div>
                    </div>
                    <div class="row details">
                        <div class="col-md-3 col-xs-3 col-sm-3 small">Build:</div>
                        <div class="col-md-6 col-xs-6 col-sm-6 small">v 1.24.0.345</div>
                    </div>
                    <div class="row details">
                        <div class="col-md-3 col-xs-3 col-sm-3 small">Passed:</div>
                        <div class="col-md-2 col-xs-2 col-sm-2 small">1521</div>
                        <div class="col-md-3 col-xs-3 col-sm-3 small">Failed:</div>
                        <div class="col-md-2 col-xs-2 col-sm-2 small">125</div>
                        <div class="col-md-2 col-xs-2 col-sm-2 build-link">
                            <a class="btn btn-link btn-xs" title="Open">
                                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-3 col-xs-3 col-sm-3">
                <div class="panel panel-danger panel-building">
                    <div class="row">
                        <div class="col-md-2 col-xs-2 col-sm-2"></div>
                        <div class="col-md-8 col-xs-8 col-sm-8 text-center">MNP Services</div>
                        <div class="col-md-2 col-xs-2 col-sm-2 building"><span class="glyphicon glyphicon-play btn btn-lg" aria-hidden="true"></span></div>
                    </div>
                    <div class="row details">
                        <div class="col-md-3 col-xs-3 col-sm-3 small">Build:</div>
                        <div class="col-md-6 col-xs-6 col-sm-6 small">v 1.24.0.345</div>
                    </div>
                    <div class="row details">
                        <div class="col-md-3 col-xs-3 col-sm-3 small">Passed:</div>
                        <div class="col-md-2 col-xs-2 col-sm-2 small">1521</div>
                        <div class="col-md-3 col-xs-3 col-sm-3 small">Failed:</div>
                        <div class="col-md-2 col-xs-2 col-sm-2 small">125</div>
                        <div class="col-md-2 col-xs-2 col-sm-2 build-link">
                            <a class="btn btn-link btn-xs" title="Open">
                                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

