<div class="container-fluid" ng-controller="ProjectController">
    <div class="spinner" ng-show="loading">
        <img src="~/Images/loading.gif" />
    </div>
    
    <div data-ng-repeat="project in projects">
        <project></project>
    </div>
</div>
