<div class="container-fluid" ng-controller="ProjectController">
    <div class="spinner" ng-show="loading">
        <span class="glyphicon glyphicon-spin glyphicon-refresh" aria-hidden="true"></span>
    </div>
    <div class="topRight addProjectBtn" ng-show="editMode">&nbsp;&nbsp;<button type="button" class="btn btn-info btn-xs">add project</button></div>
    <div data-ng-repeat="project in projects">
        <project></project>
    </div>
</div>
