<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="Autofac.Extras.FakeItEasy" version="3.0.3" targetFramework="net451" />
  <package id="AutoFixture" version="3.30.5" targetFramework="net451" />
  <package id="AutoFixture.AutoFakeItEasy" version="3.30.4" targetFramework="net451" />
  <package id="AutoFixture.NUnit2" version="3.30.4" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" />
  <package id="FakeItEasy" version="1.25.2" targetFramework="net451" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
</packages>