<div id="build_{{ build.BuildId }}" class="panel small {{ build.Status | buildStatusCss }}">
    <button type="button" class="close" data-dismiss="alert" ng-show="editMode" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p class="text-center header">{{ build.Name }}</p>
    <p class="details">Build:&nbsp;<span>{{ build.Version }}</span></p>
    <p class="pull-right build-link">
        <a class="btn btn-link btn-xs" title="Open" href="{{ build.Url }}" target="_blank">
            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
        </a>
    </p>
    <p class="details">Passed:&nbsp;<span>{{ build.NumberTestPassed }}</span>&nbsp;&nbsp;Failed:&nbsp;<span>{{ NumberTestFailed }}</span></p>
</div>
