<div id="build_{{ build.CiExternalId }}" class="panel small {{ build.Status | buildStatusCss }}">
    <script type="text/ng-template" id="typeahead-item.html">
        <div class="typeahead-group-header" ng-if="match.model.firstInGroup">{{match.model.ProjectName}}</div>
        <a>
            <span ng-bind-html="match.label | typeaheadHighlight:query"></span>
        </a>
    </script>

    <button type="button" class="close topRight" data-dismiss="alert" ng-show="editMode" aria-label="Close" ng-click="removeBuild(build.Id)"><span aria-hidden="true">&times;</span></button>
    <p class="text-center header" ng-hide="editMode">{{ build.Name }}</p>
    <span class="buildSelector" ng-show="editMode">
        <input type="text" class="form-control"
               ng-model="build.Name"
               typeahead="item as item.Name for item in getBuildsToShow($viewValue) | limitTo : 100"
               typeahead-template-url="typeahead-item.html"
               typeahead-on-select='onBuildSelect($item, build.Id)' />
    </span>
    <p class="details">Build:&nbsp;<span>{{ build.Version }}</span></p>
    <p class="pull-right build-link">
        <a class="btn btn-link btn-xs" title="Open" href="{{ build.Url }}" target="_blank">
            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
        </a>
    </p>
    <p class="details">Passed:&nbsp;<span>{{ build.NumberTestPassed }}</span>&nbsp;&nbsp;Failed:&nbsp;<span>{{ NumberTestFailed }}</span></p>
</div>
