body {
    padding-top: 70px;
    /*background-color: #222222;*/
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


.projects .panel-heading .panel-title {
    font-size: 16px;
}

.builds {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.builds li .panel-success {
    background-color: #51a351;
}

.builds li .panel-danger {
    background-color: #bd362f;
}

.builds li .panel-primary {
    background-color: #2f96b4;
}

.builds li .panel-info {
    background-color: #5e676d;
}
.builds li .panel .header {
    font-weight: bold;
}

.builds li .panel .header {
    font-weight: bold;
}

.builds li .panel {
    -webkit-box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.2);
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.2);
    border-color: #464545;
}

.builds li .panel p {
    margin: 0 0 1px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.builds li .panel .building  {
    position: absolute;
    top: -15px;
    right: 5px;
}
.builds li .panel .building .btn-lg {
    color: #217dbb;
    padding-right: 15px;
}

.builds li .panel .details {
    padding-left: 25px;
    padding-right: 20px;
}

.builds li .panel .details span {
    font-size: 85%;
}

@media (min-width: 1200px) and (max-width: 1500px){
    .builds li .panel .details {
        font-size: 75% !important;
    }
    .build-link {
        margin-top: -5px !important;
    }
}

.build-link a span{
    color: white;
}

.topRight {
    position: absolute;
    top: 2px;
    right: 20px;
}

.addProjectBtn {
    position: fixed;
    top: 75px;
    right: 10px;    
}


/* loading */
.spinner {
    margin: 100px auto;
    width: 128px;
    height: 128px;
    position: relative;
    font-size: 120px;
}

/* edit mode */
.editMode {
    color: #51a351;
}

/* refresh */
.glyphicon-spin {
    -webkit-animation: spin 1500ms infinite linear;
    animation: spin 1500ms infinite linear;
    color: #51a351;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}