<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.24.3" targetFramework="net451" />
  <package id="AutoFixture.AutoFakeItEasy" version="3.24.3" targetFramework="net451" />
  <package id="AutoFixture.NUnit2" version="3.24.3" targetFramework="net451" />
  <package id="AutoMapper" version="3.3.1" targetFramework="net451" />
  <package id="EasyHttp" version="1.6.1.0" targetFramework="net451" />
  <package id="FakeItEasy" version="1.25.2" targetFramework="net451" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net451" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="TeamCitySharp-forked" version="1.0.0.5" targetFramework="net451" />
</packages>