body {
    padding-top: 70px;
    /*background-color: #222222;*/
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.builds {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.builds li .panel-success {
    background-color: #00bc8c;
}

.builds li .panel-danger {
    background-color: #e74c3c;
}

.builds li .panel-primary {
    background-color: #375a7f;
}

.builds li .panel-info {
    background-color: #64BEFA;
}
.builds li .panel .header {
    font-weight: bold;
}

.builds li .panel {
    -webkit-box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.2);
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.2);
    border-color: #464545;
}

.builds li .panel p {
    margin: 0 0 1px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.builds li .panel .building  {
    position: absolute;
    top: -15px;
    right: 5px;
}
.builds li .panel .building .btn-lg {
    color: #217dbb;
    padding-right: 15px;
}

.builds li .panel .details {
    padding-left: 25px;
    padding-right: 20px;
}

.builds li .panel .details span {
    font-size: 85%;
}

@media (min-width: 1200px) and (max-width: 1500px){
    .builds li .panel .details {
        font-size: 75% !important;
    }
    .build-link {
        margin-top: -5px !important;
    }
}

.build-link a span{
    color: white;
}
